<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Web API Development with Flask</title>
    {% endblock %}
</head>
<body>
<div id="container">

    {% block navigation %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('page_index')}}">Web API</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    {% if selected_menu_item == "index" %}
                    <li class="active"><a href="#">Home</a></li>
                    {% else %}
                    <li><a href="{{url_for('page_index')}}">Home</a></li>
                    {% endif %}

                    {% if selected_menu_item == "about" %}
                    <li class="active"><a href="#">About</a></li>
                    {% else %}
                    <li><a href="{{url_for('page_about')}}">About</a></li>
                    {% endif %}


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Entities <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            {% if selected_menu_item == "candidate" %}
                            <li><a href="#">Candidates</a></li>
                            {% else %}
                            <li><a href="{{url_for('page_candidate')}}">Candidates</a></li>
                            {% endif %}


                            {% if selected_menu_item == "project" %}
                            <li><a href="#">Projects</a></li>
                            {% else %}
                            <li><a href="{{url_for('page_project')}}">Projects</a></li>
                            {% endif %}

                            {% if selected_menu_item == "experience" %}
                            <li><a href="#">Experience</a></li>
                            {% else %}
                            <li><a href="{{url_for('page_experience')}}">Experience</a></li>
                            {% endif %}


                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
</div>

<footer class="footer">
    <div class="container">
        {% block footer %}
        <p class="text-muted text-center">&copy; Copyright 2015 by <a href="http://packtpub.com/">PacktPub</a>.</p>
        {% endblock %}
    </div>
</footer>


{% block scripts %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}


</body>
</html>